{% extends 'base.html' %}

{% block title %}
About Site
{% endblock %}

{% block content %}
<div class="text-center  mt-auto ">
<h1 class="align-middle align-middle mt-auto">This web app scrapes info from a public-facing WSU Site</h1>
<h1>It then makes a weekly calendar to plan your semester schedule</h1>
<a class="btn btn-light" href="classform" role="button">Check out the scheduling tool!</a>
<a class="btn btn-light" href="https://schedules.wsu.edu/" role="button">WSU Schedule Page</a>
</div>
{% endblock %}